In [1]:
import pandas as pd

In [2]:
tomtom = pd.read_csv("https://raw.githubusercontent.com/ActiveConclusion/COVID19_mobility/master/tomtom_reports/tomtom_trafic_index.csv")
print(tomtom.columns)
tomtom.head()

Index(['country', 'city', 'date', 'congestion', 'diffRatio'], dtype='object')

     country          city        date  congestion  diffRatio
0  Argentina  Buenos Aires  2019-12-30          27   0.000000
1  Argentina  Buenos Aires  2019-12-31          10  -0.655172
2  Argentina  Buenos Aires  2020-01-01           6  -0.806452
3  Argentina  Buenos Aires  2020-01-02          18  -0.454545
4  Argentina  Buenos Aires  2020-01-03          21  -0.400000

In [3]:
print("Malaysia" in tomtom['country'].unique())
malaysia = tomtom.loc[(tomtom['country']=='Malaysia')]
malaysia.describe(include="all")

True

         country          city        date  congestion   diffRatio
count        583           583         583  583.000000  583.000000
unique         1             1         583         NaN         NaN
top     Malaysia  Kuala Lumpur  2021-01-14         NaN         NaN
freq         583           583           1         NaN         NaN
mean         NaN           NaN         NaN   17.514580   -0.374419
std          NaN           NaN         NaN   13.085473    0.449945
min          NaN           NaN         NaN    0.000000   -1.000000
25%          NaN           NaN         NaN    7.000000   -0.741935
50%          NaN           NaN         NaN   15.000000   -0.419355
75%          NaN           NaN         NaN   27.000000   -0.034648
max          NaN           NaN         NaN   63.000000    1.333333

In [4]:
print(malaysia['city'].unique())
tomtomdata = malaysia[['date', 'city', 'congestion', 'diffRatio']]
tomtomdata.describe(include="all")

['Kuala Lumpur']

In [4]:
tomtomdata.to_csv("tomtom-mobility-data-malaysia.csv", index=False)

['Kuala Lumpur']