In [1]:
import pandas as pd
import numpy as np

In [3]:
statedeath = pd.read_csv("https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/deaths_state.csv")
print(statedeath.columns)
statedeath.head()

Index(['date', 'state', 'deaths_new', 'deaths_new_dod', 'deaths_bid',
       'deaths_bid_dod'],
      dtype='object')

,date,state,deaths_new,deaths_new_dod,deaths_bid,deaths_bid_dod
0,2020-03-17,Johor,1,NaN,NaN,NaN
1,2020-03-17,Kedah,0,NaN,NaN,NaN
2,2020-03-17,Kelantan,0,NaN,NaN,NaN
3,2020-03-17,Melaka,0,NaN,NaN,NaN
4,2020-03-17,Negeri Sembilan,0,NaN,NaN,NaN

In [12]:
statedeath.drop(columns=['deaths_new_dod', 'deaths_bid_dod'], axis=1, inplace=True)

In [13]:
statedeath['state'].replace({"W.P. ":""}, regex=True, inplace=True)
statedeath.loc[statedeath['state']=='Pulau Pinang', 'state'] = 'Penang'
print(statedeath['state'].unique())
statedeath.describe(include="all")

['Johor' 'Kedah' 'Kelantan' 'Melaka' 'Negeri Sembilan' 'Pahang' 'Perak'
 'Perlis' 'Penang' 'Sabah' 'Sarawak' 'Selangor' 'Terengganu'
 'Kuala Lumpur' 'Labuan' 'Putrajaya']

              date  state   deaths_new  deaths_bid
count         8688   8688  8688.000000  4945.00000
unique         543     16          NaN         NaN
top     2020-07-06  Perak          NaN         NaN
freq            16    543          NaN         NaN
mean           NaN    NaN     2.282113     0.71183
std            NaN    NaN     9.214177     3.47152
min            NaN    NaN     0.000000     0.00000
25%            NaN    NaN     0.000000     0.00000
50%            NaN    NaN     0.000000     0.00000
75%            NaN    NaN     1.000000     0.00000
max            NaN    NaN   221.000000    67.00000

In [ ]:
# Not updated (skipped)
mycase = pd.read_csv("https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_malaysia.csv")
print(mycase.columns)
mycase = mycase[['date', 'cases_new', 'cases_import', 'cases_recovered']]
mycase['state'] = 'Malaysia'
mycase.head()

In [ ]:
# Not updated (skipped)
mohcases = pd.concat([statecase, mycase])
print(mohcases['state'].unique())
mohcases.describe()

In [14]:
#mohcases.to_csv("../data/moh-cases.csv", index=False)
statedeath.to_csv("../data/moh-deaths.csv", index=False)