In [5]:
import pandas as pd
import numpy as np

In [6]:
checkinstate = pd.read_csv("https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/mysejahtera/checkin_state.csv")
checkinstate.head()

Index(['date', 'state', 'checkins', 'unique_ind', 'unique_loc'], dtype='object')

         date            state  checkins  unique_ind  unique_loc
0  2020-12-01            Johor   1996696      868521       81635
1  2020-12-01            Kedah    654634      341620       32760
2  2020-12-01         Kelantan    186507      108035       16298
3  2020-12-01           Melaka    544619      241854       21458
4  2020-12-01  Negeri Sembilan    559390      266899       22749

In [8]:
print(checkinstate['state'].unique())
checkinstate['state'].replace({"W.P. ":""}, regex=True, inplace=True)
checkinstate.loc[checkinstate['state']=='Pulau Pinang', 'state'] = 'Penang'
checkinstate.loc[checkinstate['state']=='KualaLumpur', 'state'] = 'Kuala Lumpur'
checkinstate.state.unique()

['Johor' 'Kedah' 'Kelantan' 'Melaka' 'Negeri Sembilan' 'Pahang' 'Perak'
 'Perlis' 'Pulau Pinang' 'Sabah' 'Sarawak' 'Selangor' 'Terengganu'
 'W.P. KualaLumpur' 'W.P. Labuan' 'W.P. Putrajaya']

array(['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan',
       'Pahang', 'Perak', 'Perlis', 'Penang', 'Sabah', 'Sarawak',
       'Selangor', 'Terengganu', 'Kuala Lumpur', 'Labuan', 'Putrajaya'],
      dtype=object)

In [9]:
checkinmy = pd.read_csv("https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/mysejahtera/checkin_malaysia.csv")
print(checkinmy.columns)
checkinmy['state'] = 'Malaysia'
checkinmy.head()

Index(['date', 'checkins', 'unique_ind', 'unique_loc'], dtype='object')

         date  checkins  unique_ind  unique_loc     state
0  2020-12-01  17492265     6614474      630363  Malaysia
1  2020-12-02  17695726     6667261      648752  Malaysia
2  2020-12-03  17063123     6549583      645604  Malaysia
3  2020-12-04  18350879     6803979      622383  Malaysia
4  2020-12-05  19711082     6845366      573132  Malaysia

In [13]:
checkindata = pd.concat([checkinstate, checkinmy])
checkindata['state'].unique()

array(['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan',
       'Pahang', 'Perak', 'Perlis', 'Penang', 'Sabah', 'Sarawak',
       'Selangor', 'Terengganu', 'Kuala Lumpur', 'Labuan', 'Putrajaya',
       'Malaysia'], dtype=object)

In [14]:
checkindata.to_csv("../data/mysjh-checkins.csv", index=False)